

#background {


}


#cactusCollector {
    height: 75px;
    width: 522.2px;
    border-style: solid;
    border-color: green;
    margin:5px;
    font-family: 'Pacifico';
    font-size: 60px;
    text-align: center;
    padding: 10px;
    float: left;
    Clear: both;
    background-image:url("../images/cacti2.jpeg");
    
}

#directions {
    height: 175px;
    width: 522.2px;
    border-style: solid;
    border-color: green;
    margin: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    text-align: left;
    padding: 10px;
    clear: both;
}

#randomNumberBox {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: green;
    margin: 5px;
    padding: 10px;
    font-family: 'Lobster';
    font-size: 25px;
    text-align: center;
    text-align-last: center;
    float: left;
}

#addedNumberBox {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: green;
    margin: 5px;
    padding: 10px;
    font-family: 'Lobster';
    font-size: 25px;
    text-align: center;
    text-align-last: center;
    float: left;
    
}

#winsLossesBox {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: green;
    margin: 5px;
    padding: 10px;
    font-family: 'Lobster';
    font-size: 25px;
    text-align: center;
    text-align-last: center;
    float: left;
}

#cactiDivz {
    border-style: solid;
    border-color: green;
    margin: 5px;
    padding: 10px;
    clear: both;
    width: 838px;
}



#cactus1 {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: green;
}

#cactus2 {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: green;
}

#cactus3 {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: green;
}

#cactus4 {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: green;
}
