


#cactusCollector {
    height: 75px;
    width: 400px;
    border-style: solid;
    border-color: green;
    margin:5px;
    font-family: 'Pacifico';
    font-size: 45px;
    text-align: center;
    padding: 10px;
}

#directions {
    height: 175px;
    width: 400px;
    border-style: solid;
    border-color: green;
    margin: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    text-align: left;
    padding: 10px;
}

#randomNumberBox {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: green;
    margin: 5px;
    padding: 10px;
    align: right;
    font-family: 'Lobster';
    font-size: 40px;
    text-align: center;
    text-align-last: center;
}

#cactus1 {
    height: 200px;
    width: 200px;
}

#cactus2 {
    height: 200px;
    width: 200px;
}

#cactus3 {
    height: 200px;
    width: 200px;
}

#cactus4 {
    height: 200px;
    width: 200px;
}
