

#background {
background-color:hotpink;
align: center;

}

#cactusCollector {
    height: 75px;
    width: 522.2px;
    border-style: solid;
    border-color: green;
    margin:5px;
    font-family: 'Pacifico';
    font-size: 60px;
    text-align: center;
    padding: 10px;
    float: left;
    Clear: both;
    background-image:url("../images/cacti2.jpeg");
    
}

#directions {
    height: 175px;
    width: 522.2px;
    border-style: solid;
    border-color: green;
    margin: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    clear: both;
    background-color:white;
}

#randomNumberBox {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: green;
    margin: 5px;
    padding: 10px;
    font-family: 'Lobster';
    font-size: 35px;
    text-align: center;
    text-align-last: center;
    float: left;
    background-image:url("../images/cacti 1.jpeg");
    vertical-align: center;
}

#addedNumberBox {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: green;
    margin: 5px;
    padding: 10px;
    font-family: 'Lobster';
    font-size: 35px;
    text-align: center;
    text-align-last: center;
    float: left;
    background-image:url("../images/cacti 1.jpeg");;
    vertical-align: center;
    
}

#winsLossesBox {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: green;
    margin: 5px;
    padding: 10px;
    font-family: 'Lobster';
    font-size: 35px;
    text-align: center;
    text-align-last: center;
    float: left;
    background-image:url("../images/cacti 1.jpeg");
    vertical-align: center;
}

#cactiDivz {
    border-style: solid;
    border-color: green;
    margin: 5px;
    padding: 10px;
    clear: both;
    width: 522.2px;
    background-image:url("../images/cacti3.jpg");
}

#cactus1 {
    height: 120px;
    width: 120px;
    border-style: solid;
    border-color: green;
}

#cactus2 {
    height: 120px;
    width: 120px;
    border-style: solid;
    border-color: green;
}

#cactus3 {
    height: 120px;
    width: 120px;
    border-style: solid;
    border-color: green;
}

#cactus4 {
    height: 120px;
    width: 120px;
    border-style: solid;
    border-color: green;
}
